body{
    background: url("../images/img11.jpg");
    background-size: cover;
    position: fixed;
}
.container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5% 5% 5% 5%;
    margin:10% 10% 10% 10%;
    background-color:rgb(190, 166, 212);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
#description{
    width:30%;  
}
#right_side{
     width:30%; 
}